body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
    min-width: 100vh;
}
main {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    margin: 20px auto;
}

h1,h2 {
    text-align: center;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

p {
    font-size: 20px;
    line-height: 2.0;
    color: #555;
}

.description {
    font-size: 18px;
    font-style: Arial;
    line-height: 1.8;
    color: #666;
    margin: 10px 20px;
}

#home-page {
    background-color: #ffffff;
}

#second-page {
    background-color: #ffffff;
}

#flex-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.box {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: center;
    flex: 1;
    min-width: 150px;
    max-width: 200px;
    border-radius: 10px;
}

    
footer {
    text-align: center;
    background-color: #c41313;
    color: rgb(43, 3, 3);
    width: 100%;
    bottom: 0%;
    padding: 15px 0;
    margin-top: 20px;

}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fa6767;
    border-radius: 8px;
    line-height: 1.5;
}